extends layout

block content
  h1 Welcome to My Color Changer
  form(method = "POST" action = "/")
    // background
    input(type = "color" name = "colorPickerBack" id = "pickerBack" value=`${color}`)
    label(for = "pickerBack") Background
    br
    // text
    input(type = "color" name = "colorPickerText" id = "pickerText" value=`${colorText}`)
    label(for = "pickerText") Text
    br
    button(type = "submit") Submit
  form(method = "POST" action = '/random')
    button(type = 'submit') Random