doctype html
html
  head
    title(style=`color: ${colorText}`)= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style=`background-color: ${color}; color: ${colorText}` )
    block content

